* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia;
    font-size: 1rem;
    color: #000000;
    line-height: 1.6;
    padding-top: 2rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#about,
#research {
    flex: 1.2;
}


.name {
    text-align: center;
}

#about {
    text-align: left;
}

#about h2,
#research h2 {
    border-bottom: 1.5px solid #000000;
}

.research-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.research-card {
    background-color: transparent;
    box-shadow: none;
    border-radius: 0;
}

.profile-image {
    display: block;
    margin: 0 auto;
    width: 137.5px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #000000;
}

.contact-links {
    text-align: left;
    font-size: 1rem;
    display: flex;
    gap: 10px;
    align-items: left;
}

.contact-links a:visited {
    color: #007bff;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}